<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400448334866-jr5mdu8chrtso124c7i1a2lbac8gtj0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400448334866-jr5mdu8chrtso124c7i1a2lbac8gtj0i</string>
	<key>API_KEY</key>
	<string>AIzaSyDtRQ3450_7DbtEbcTyYRht6oktoVamVGg</string>
	<key>GCM_SENDER_ID</key>
	<string>400448334866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sociella.sociella</string>
	<key>PROJECT_ID</key>
	<string>sociella-f1b80</string>
	<key>STORAGE_BUCKET</key>
	<string>sociella-f1b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400448334866:ios:00c5350adf123524893ccb</string>
</dict>
</plist>